* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

.container {
    width: 1140px;
    margin: auto;
}

/*------------- navber style---------- */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.nav-left {
    font-size: 28px;
    font-weight: bold;
}

.nav-container .btn {
    border: 1px solid black;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 500;
}

/*------------ banner style-------------- */
.banner-conatiner {
    background-image: url(./assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 552px;
}

.bn-content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.bn-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.bn-description {
    text-align: center;
    font-size: 16px;
}

.banner-conatiner .btn {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 500;
}

/*------- why development-----------  */
.whyDev-conatiner {
    margin-top: 78px;
}

.dev-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.dev-description {
    padding: 14px 0px;
    font-size: 16px;
    text-align: center;
}

/* dev box content */
.dev-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.dev-left-title {
    font-size: 24px;
    color: #0D1321;
    font-weight: 700;
}

.dev-left-description {
    font-size: 16px;
    font-weight: normal;
    padding: 14px 0px;
    color: #0D1321;
}

.dev-left .btn {
    color: black;
    border: 1px solid black;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 600;
}

.dev-two {
    display: flex;
    justify-content: start;
    gap: 72px;
    align-items: center;
    padding-top: 32px;
}

/* -------My Inspiration style-------- */
.inspiration-section {
    margin-top: 110px;
    margin-bottom: 14px;
}

.video-part {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    border-radius: 8px;
    border: 2px solid rgb(221, 218, 211);
    padding: 26px;
    margin-top: 28px;
}